@charset "UTF-8";

/// --------------------------------------------------
/// @use
/// 
/// The @use rule loads mixins, functions, and variables from other Sass stylesheets, 
/// and combines CSS from multiple stylesheets together. 
/// Stylesheets loaded by @use are called "modules". 
/// Sass also provides built-in modules full of useful functions.
/// --------------------------------------------------
@use './abstracts/_variables' as *;
@use './base/_reset';

/// --------------------------------------------------
/// Reboot
/// --------------------------------------------------

:root {
    --red-color: #{$red-color};
    --blue-color: #{$blue-color};
    --green-color: #{$green-color};
    --black-color: #{$black-color};
}
  