/// --------------------------------------------------
/// Color
/// --------------------------------------------------
$red-color: #ff0404;
$green-color: #1eaa00;
$blue-color: #043bff;
$black-color: #000000;
